.container, .infos-container {
  position: relative;      
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  z-index: 1000;        
  display: flex;
  flex-direction: column;
  align-items: center;
}

#downloadStatus {
  margin-top: 1em;
  min-height: 1.5em;  
  font-weight: bold;
  text-align: center;
  color: var(--download-status-color);
}

label {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}