form {
    background-color: var(--form-bg-color);
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

form input[type="text"],
form input[type="url"],
form select {
    padding: 0.75em;
    border: 1px solid var(--form-input-border-color);
    border-radius: 8px;
    background-color: var(--form-input-bg-color);
    color: var(--form-input-text-color);
}

form input[type="checkbox"] {
    margin-right: 0.5em;
}

form button {
    background-color: var(--form-button-bg-color);
    color: var(--form-button-text-color);
    border: none;
    padding: 0.75em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--form-button-bg-hover-color);
}

form#downloadForm {
    display: flex;
    gap: 0.5em;
    max-width: 600px;
    width: 100%;
    justify-content: center;
}

.checkbox-inline {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 0.5em;
    color: var(--form-input-text-color);
}

#UrlInput {
    padding: 0.75em 1em;
    border-color: var(--form-input-border-color);
    box-shadow: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--form-input-bg-color);
    color: var(--form-input-text-color);
}

#UrlInput:focus {
    border-color: var(--form-input-border-focus-color);
    box-shadow: 0 0 5px rgba(0,123,255,0.4);
    outline: none;
    background-color: var(--form-input-bg-color);
}

#UrlInput::placeholder {
    color: var(--form-input-placeholder-color);
}
