.settings-button{
    display:flex;
    background-color: rgba(219, 219, 219, 0.89);
    border-radius: 12px;
    padding: 5px;
    transition: all ease-in-out 0.2s;
    position: absolute;
    top: 60px;
    right: 40px;
    border: none;
}

.settings-button img{
    width: 50px;
    height: 50px;
}

.settings-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.settings-button:active{
    transform: scale(0.9);
}

.settings-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 9999999;
}