# Dependencies
/node_modules

# Build Output Folder
/dist
/out
/srpm-out

# Config JSON File. Create it and fill it if you want to have dev only settings
config/config.dev.json

# IDE
/.idea
/.vscode

# Linux executable
ffmpeg
ffprobe
deno

# Windows Executable
ffmpeg.exe
ffprobe.exe
deno.exe