body.fanatic{
  /* Couleurs générales */
  --background-color: #121212;
  --default-text-color: #eee;
  --subtitle-color: #FF5900;
  --mp3-text-color: #ffffff;

  /* Formulaire */
  --form-bg-color: #1e1e1e;
  --form-input-bg-color: #2b2b2b;
  --form-input-border-color: #333333;
  --form-input-border-focus-color: #FF5900;
  --form-input-text-color: #eeeeee;
  --form-input-placeholder-color: #666666;
  --form-button-bg-color: #FF5900;
  --form-button-text-color: #121212;
  --form-button-bg-hover-color: #e65500;

  /* Checkbox */
  --checkbox-bg-default: #555555;
  --checkbox-bg-checked: #ff6600;
  --checkbox-checkmark-border-color: #eee;
  --checkbox-pulse-color: rgba(255, 102, 0, 0.5);

  /* Download status */
  --download-status-color: #FF5900;

  /* Video Info Box */
  --infos-box-color: #222222;
  --video-info-text-color: #eee;
  --video-info-heading-color: #FF5900;
  --video-info-list-color: #ccc;
  --video-info-list-strong-color: #fff;
  --video-info-link-color: #FF5900;
  --video-info-link-hover-color: #e65500;
}
