body.fanatic{
  /* Couleurs générales */
  --background-color: #121212;
  --default-text-color: #eee;
  --subtitle-color: #FF5900;
  --audio-only-label-color: #ffffff;

  /* Formulaire */
  --form-bg-color: #1e1e1e;
  --form-input-bg-color: #2b2b2b;
  --form-input-border-color: #333333;
  --form-input-border-focus-color: #FF5900;
  --form-input-text-color: #eeeeee;
  --form-input-placeholder-color: #666666;
  --form-button-bg-color: #FF5900;
  --form-button-text-color: #121212;
  --form-button-bg-hover-color: #e65500;
  --paste-button-icon-color: #f1f1f1;

  /* Checkbox */
  --checkbox-unchecked-bg-color: #555555;
  --checkbox-checked-bg-color: #ff6600;
  --checkbox-checkmark-border-color: #eee;
  --checkbox-pulse-color: rgba(255, 102, 0, 0.5);

  /* Download status */
  --download-status-color: #FF5900;

  /* Progress bar */
  --progress-bar-bg-color: #444444;
  --progress-bar-fill-color: #FF5900;

  /* Video Info Box */
  --video-info-bg-color: #222222;
  --video-info-text-color: #eee;
  --video-info-heading-color: #FF5900;
  --video-info-list-color: #ccc;
  --video-info-list-strong-color: #fff;
  --video-info-link-color: #FF5900;
  --video-info-link-hover-color: #e65500;

  /* Playlist Color */
  --playlist-background-color: #2b2b2b;

  /* Settings */
  --settings-button-bg-color: #1e1e1e;
  --settings-button-text-color: #dcdcdc;  

  --settings-modal-bg-color: #1e1e1e;
  --settings-section-bg-color: #2d2d2d;

  --settings-text-color: #cecece; 
  --settings-subtitle-color: #adadad;
}
