body.spicy {

  background-image: url('../../assets/images/spicy.webp');  
  background-size:contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* Couleurs générales */
  --background-color: #121212;
  --default-text-color: #581010;
  --subtitle-color: #3d0909;
  --mp3-text-color: #ffffff;

  /* Formulaire */
  --form-bg-color: #1a1a1a;
  --form-input-bg-color: #2b2b2b;
  --form-input-border-color: #444444;
  --form-input-border-focus-color: #ff1a1a;
  --form-input-text-color: #eeeeee;
  --form-input-placeholder-color: #888888;
  --form-button-bg-color: #ff1a1a;
  --form-button-text-color: #ffffff;
  --form-button-bg-hover-color: #cc0000;

  /* Checkbox */
  --checkbox-bg-default: #555555;
  --checkbox-bg-checked: #ff1a1a;
  --checkbox-checkmark-border-color: #f5f5f5;
  --checkbox-pulse-color: rgba(255, 26, 26, 0.5);

  /* Download status */
  --download-status-color: #ffffff;

  /* Video Info Box */
  --infos-box-color: #1a1a1a;
  --video-info-text-color: #f5f5f5;
  --video-info-heading-color: #ff1a1a;
  --video-info-list-color: #cccccc;
  --video-info-list-strong-color: #ffffff;
  --video-info-link-color: #ff1a1a;
  --video-info-link-hover-color: #cc0000;
}