@import url("chirac-theme.css");
@import url("dark-theme.css");
@import url("default-theme.css");
@import url("fanatic-theme.css");
@import url("light-theme.css");
@import url("cyberpunk-theme.css");
@import url("spicy-theme.css");
@import url("vilbrequin-theme.css");
@import url("nf-theme.css");
@import url("drift-theme.css");
@import url("neon-theme.css");