.download-path {
  margin-top: 1em;
  font-size: 1rem;
  color: var(--default-text-color);
}

.download-path #savePath:empty {
  display: none;
}

.download-path #savePath {
  font-size: 1rem;         
  font-weight: 600;    
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--form-input-text-color);
  padding: 0.3em 0.6em;
  border-radius: 6px;
  font-family: monospace;
  border: 1px dashed var(--form-input-border-color);
  word-break: break-all;
  display: inline-block;
  max-width: 80%;
}


.download-path button#changePath {
  margin-left: 0.5em;
  background-color: var(--form-button-bg-color);
  color: var(--form-button-text-color);
  border: none;
  padding: 0.3em 0.8em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 0.9rem;
  font-weight: 550;
}

.download-path button#changePath:hover {
  background-color: var(--form-button-bg-hover-color);
}
